IO_LOC "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC "flash_clk" 59;
IO_PORT "flash_clk" IO_TYPE=LVCMOS18;
IO_LOC "flash_miso" 62;
IO_PORT "flash_miso" IO_TYPE=LVCMOS18;
IO_LOC "flash_mosi" 61;
IO_PORT "flash_mosi" IO_TYPE=LVCMOS18;
IO_LOC "flash_cs" 60;
IO_PORT "flash_cs" IO_TYPE=LVCMOS18;

IO_LOC "lcd_data" 77;
IO_PORT "lcd_data" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rs" 49;
IO_PORT "lcd_rs" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_cs" 48;
IO_PORT "lcd_cs" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_clk" 76;
IO_PORT "lcd_clk" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_resetn" 47;
IO_PORT "lcd_resetn" PULL_MODE=UP DRIVE=8;

IO_LOC "buzzer_pin" 69;
IO_PORT "buzzer_pin" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;
IO_LOC "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;
IO_LOC "btn3" 31;
IO_PORT "btn3" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8